@font-face {
    font-family: 'All';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Strong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'good';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);

@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0 auto;
  font-size: 16px;
  width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul img,
li img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
::after,
::before {
  display: inline-block;
}

#root{
  width:100%;
  height: 100vh;
  // background-color: #fff;
  display: flex;
  align-items: center;
  .mainbox{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    .Whole{
      filter: blur(20px) ;
      position: fixed;
      width: 100%;
      z-index: -1;
      
      
    }
  }

  figure{
    width: 80%;
    margin: 0 auto;
    
  }
  main{
    width:65%;
    // height: 70vh;
    overflow: hidden;
    padding: 2%;
    margin: 0 auto;
    font-family: "good";
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(151, 150, 150);
    position: relative;

    section{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
    }
    .mySwiper{
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      align-items: center;
      text-align: center;
      // .swiper-pagination-clickable .swiper-pagination-bullet{
      //   background-color: #000;
      // }
      .swiper-wrapper{
        display: flex;
        align-items: center;
        .swiper-slide{
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .method{
          img{
            width: 12.5rem;
            height: 7.5rem;
            border-radius: 25px;
          }
          p{
            line-height: 1.7;
          }
        }
      }
      .swiper-button-prev{
        background-image: url(../public/img/prev.png);  
        background-position: center;
        background-size: 100% auto;      
        background-repeat: no-repeat;
      }
      .swiper-button-next{
        background-image: url(../public/img/next.png);        
        background-position: center;
        background-size: 100% auto;      
        background-repeat: no-repeat;
      }
      .swiper-button-next::after,
      .swiper-button-prev::after{
        display: none;
      }
    }
    .flexbox{
      overflow: auto;
      width: 100%;
        height: 50vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .recipe-content{
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1.25rem;
          line-height: 2.5;
          
          img{
            width: 11.25rem;
            height: 11.25rem;
            border-radius: 25px;
            box-shadow: 3px 3px 10px rgb(151, 150, 150);
            cursor: pointer;
          }
          &:hover{
            transform: translateY(-3px);
          }
          h1{
            font-size: 1rem;
          }
        }
    }
    
    .flexbox::-webkit-scrollbar{
      width: 5px;
    }
    .flexbox::-webkit-scrollbar-thumb{
      background-color: #000;
      border-radius: 25px;
      height: 20%;
    }
    .flexbox::-webkit-scrollbar-track {
      background: rgba(33, 122, 244, .1);  /*스크롤바 뒷 배경 색상*/
  }
    .mainbox-tab{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .back{
          width: 10%;
          background-color: transparent;
          border: none;
          cursor: pointer;
          @include hideTapHighlightColor();
          @include hardwareAccel();
          @include improveAntiAlias();
          img{
            width: 50%;
          }
        }
        .back:hover{
          animation-name: pulse-grow;
          animation-duration: $defaultDuration;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          animation-direction: alternate;
        }
        @keyframes pulse-grow {
          to {
            transform: scale(1.1);
          }
        }
        .home{
            width: 100%;
            background-color:transparent;
            border: none;
            color: #000;
            cursor: pointer;
            font-family: "All";   
            p{
              font-family: "All";
              font-size: 2rem;
              font-weight: 700;
            }
        }
      a{
        font-size: 2rem;
      }
    }
    .tab{
      width: 100%;
      display: flex;
      height: 4.125rem;
      button{
          width: 100%;
          background-color:transparent;
          border: none;
          color: #000;
          cursor: pointer;
          font-family: "good";   
          font-size: 1.25rem;
          font-weight: 700;
      }
    a{
      font-size: 2rem;
    }
    }
    .big-box{
      padding-top: 10%;
      .main-imgbox{
        width:70%;
        display: flex;
        img{
          width: 100%; //원래대로하면 100%
          border-radius: 25px;
          box-shadow: 3px 3px 10px rgb(151, 150, 150);
        }
        .detail{
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          margin-left: 10%;
          span{
            text-align: center;
            font-size: 2.375rem;
            font-family: "good";
            font-weight: bold;
            line-height: 2;
          }
         .recipe-go{
          width: 10.25rem;
          height: 3rem;
          border: none;
          background-color: transparent;
          z-index: 888;
          font-size: 1rem;
          font-family: "good";
          border-radius: 10px;
          padding:0 10px;
          @include hideTapHighlightColor();
          @include hardwareAccel();
          @include improveAntiAlias();
        }
        .recipe-go:hover{
          background: #FF9700;
          color: #FFF;
          border: none;
          font-size: 1rem;
          transition: all .5s ease-in-out;
          cursor: pointer;
          animation-name: shake;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
  
         }
         @keyframes shake {
          16.65% {
            transform: skew(-12deg);
          }
        
          33.3% {
            transform: skew(10deg);
          }
        
          49.95% {
            transform: skew(-6deg);
          }
        
          66.6% {
            transform: skew(4deg);
          }
        
          83.25% {
            transform: skew(-2deg);
          }
        
          100% {
            transform: skew(0);
          }
        }
      }
      }
      .loop{
        // width: 100%;
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        animation: bannermove 100s linear infinite;
        width: 120px;
        // position: absolute;
        right: 0;
        margin-right: 100px;
        
        @keyframes bannermove {
          0% {
            transform: translate(0, 0);
            
          }
          100% {
            transform: translate(0, -100%);
            
          }
        }
        img{
          width: 7.5rem;
          height: 7.5rem;
          margin: 10px 0;
          border-radius: 25px;
        }
      }
    }
    .detail-content{
      width: 100%;
      height: 55vh;
      display: flex;
      text-align: center;
      justify-content: space-evenly;
      .detail-left{
        padding-top: 1.875rem;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
          width: 60%;
          border-radius: 25px;
          box-shadow: 3px 3px 10px rgb(146, 146, 146);
        }
        .info{
          width: 60%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 1.125rem;
          line-height: 1.7;
        }
      }
      .detail-right{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        a{
          cursor: inherit;
        }
        span{
          line-height: 2.2;
          font-size: 1.25rem;
        }
        .how-go{
          width: 13rem;
          height: 3rem;
          background-color: transparent;
          border-radius: 10px;
          border: none;
          color: #000;
          font-family: 'All';
          cursor: pointer;
          font-size: 1.5rem;
          background-color: transparent;
          @include hideTapHighlightColor();
          @include hardwareAccel();
          @include improveAntiAlias();
        }
        
        .how-go:hover{
          background-color: #FF9700;
          color: #FFF;
          transition: all .5s ease-in-out;
          animation-name: shake;
          animation-duration: 1s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;
        
         }
      }
    }
  }
}

