@media screen and (min-width: 768px) and (max-width: 1024px) {
  #root figure {
    width: 80%;
    margin: 0 auto;
  }
  #root main {
    width: 80%;
  }
  #root main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  #root main .mySwiper {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }
  #root main .mySwiper .swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #000;
  }
  #root main .mySwiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  #root main .mySwiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root main .mySwiper .swiper-wrapper .swiper-slide .method {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #root main .flexbox {
    overflow-x: hidden;
    display: flex;
  }
  #root main .flexbox .recipe-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    line-height: 2.5;
  }
  #root main .flexbox .recipe-content:hover {
    transform: translateY(-3px);
  }
  #root main .flexbox .recipe-content h1 {
    font-size: 1rem;
  }
  #root main .mainbox-tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #root main .mainbox-tab .back {
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #root main .mainbox-tab .back img {
    width: 100%;
  }
  #root main .tab {
    width: 100%;
  }
  #root main .tab button {
    width: 100%;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: "good";
    font-size: 1.25rem;
    font-weight: 700;
  }
  #root main .big-box .main-imgbox {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #root main .big-box .main-imgbox img {
    width: 100%;
  }
  #root main .big-box .loop {
    margin-right: 50px;
  }
  #root main .big-box .loop img {
    width: 6rem;
    height: 6rem;
  }
  #root main .detail-content .detail-left {
    padding-top: 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #root main .detail-content .detail-left img {
    width: 100%;
    border-radius: 25px;
    box-shadow: 3px 3px 10px rgb(146, 146, 146);
  }
  #root main .detail-content .detail-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #root main .detail-content .detail-right span {
    line-height: 2;
    font-size: 1.2rem;
  }
  #root main .detail-content .detail-right h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 390px) and (max-width: 767px) {
  #root .mainbox {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  #root .mainbox .Whole {
    filter: blur(20px);
    position: fixed;
    width: 100%;
    z-index: -1;
  }
  #root figure {
    width: 80%;
    margin: 0 auto;
  }
  #root main {
    width: 95%;
  }
  #root main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
  }
  #root main .mySwiper {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    align-items: center;
    text-align: center;
  }
  #root main .mySwiper .swiper-pagination-clickable .swiper-pagination-bullet {
    background-color: #000;
  }
  #root main .mySwiper .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  #root main .mySwiper .swiper-wrapper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #root main .mySwiper .swiper-wrapper .swiper-slide .method {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #root main .mySwiper .swiper-wrapper .swiper-slide .method img {
    width: 7.5rem;
    height: 4.5rem;
    border-radius: 25px;
  }
  #root main .mySwiper .swiper-wrapper .swiper-slide .method p {
    line-height: 1.7;
    font-size: 0.75rem;
  }
  #root main .flexbox {
    overflow: auto;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #root main .flexbox .recipe-content {
    width: 100%;
  }
  #root main .mainbox-tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #root main .mainbox-tab .back {
    width: 10%;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  #root main .mainbox-tab .back img {
    width: 150%;
  }
  #root main .tab {
    width: 100%;
    display: flex;
    height: 3.125rem;
  }
  #root main .tab button {
    font-size: 14px;
  }
  #root main .big-box .main-imgbox {
    width: 100%;
    display: flex;
  }
  #root main .big-box .main-imgbox img {
    width: 80%;
  }
  #root main .big-box .main-imgbox .detail {
    width: 80%;
  }
  #root main .big-box .main-imgbox .detail span {
    font-size: 1.875rem;
  }
  #root main .big-box .loop {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    -webkit-animation: bannermove 10s linear infinite;
            animation: bannermove 10s linear infinite;
    width: 100%;
    margin-right: 100px;
  }
  @-webkit-keyframes bannermove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0%);
    }
  }
  @keyframes bannermove {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0%);
    }
  }
  #root main .big-box .loop img {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 5px;
    border-radius: 15px;
  }
  #root main .detail-content {
    width: 100%;
    height: 55vh;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
  #root main .detail-content .detail-left {
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #root main .detail-content .detail-left img {
    width: 100%;
  }
  #root main .detail-content .detail-left .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.125rem;
    line-height: 1.7;
  }
  #root main .detail-content .detail-left .info p {
    font-size: 1rem;
  }
  #root main .detail-content .detail-right {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;
  }
  #root main .detail-content .detail-right span {
    line-height: 2;
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 290px) and (max-width: 389px) {
  #root main {
    width: 100%;
    height: auto;
  }
  #root main .mySwiper {
    width: 100%;
  }
}/*# sourceMappingURL=media.css.map */